In [136]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from xfeat import Pipeline, SelectCategorical, LambdaEncoder
from xfeat.num_encoder import SelectNumerical

In [150]:
all_data = pd.read_csv('../data/all_data.csv')

In [138]:
all_data.head(5)

,ID,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,...,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
0,1044202,中古マンション等,NaN,1105,北海道,札幌市豊平区,豊平６条,学園前(札幌),6,４ＬＤＫ,...,NaN,NaN,NaN,第１種住居地域,60.0,200.0,2010年第2四半期,改装済,NaN,7.204120
1,1056952,中古マンション等,NaN,1107,北海道,札幌市西区,琴似１条,琴似(札幌市営),6,３ＬＤＫ,...,NaN,NaN,NaN,商業地域,80.0,400.0,2012年第4四半期,未改装,NaN,7.431364
2,1048219,中古マンション等,NaN,1105,北海道,札幌市豊平区,平岸１条,南平岸,11,２ＤＫ,...,NaN,NaN,NaN,第１種低層住居専用地域,40.0,80.0,2018年第4四半期,未改装,NaN,7.361728
3,1017583,中古マンション等,NaN,1102,北海道,札幌市北区,篠路３条,篠路,4,３ＬＤＫ,...,NaN,NaN,NaN,近隣商業地域,80.0,200.0,2009年第1四半期,改装済,NaN,6.939519
4,1016082,中古マンション等,NaN,1102,北海道,札幌市北区,北３８条西,麻生,2,４ＬＤＫ,...,NaN,NaN,NaN,第２種中高層住居専用地域,60.0,200.0,2013年第1四半期,未改装,NaN,7.301030

In [139]:
all_data.tail()

,ID,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,...,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
779399,47005125,中古マンション等,NaN,47201,沖縄県,那覇市,松山,県庁前(沖縄),7,１ＬＤＫ,...,NaN,NaN,NaN,商業地域,80.0,400.0,2018年第4四半期,改装済,NaN,7.041393
779400,47024005,中古マンション等,NaN,47211,沖縄県,沖縄市,比屋根,NaN,NaN,３ＬＤＫ,...,NaN,NaN,NaN,近隣商業地域,80.0,300.0,2015年第3四半期,未改装,NaN,7.204120
779401,47004170,中古マンション等,NaN,47201,沖縄県,那覇市,壺川,壺川,12,２ＬＤＫ,...,NaN,NaN,NaN,第１種住居地域,60.0,200.0,2021年第4四半期,改装済,NaN,7.322219
779402,47004421,中古マンション等,NaN,47201,沖縄県,那覇市,長田,安里,26,３ＬＤＫ,...,NaN,NaN,NaN,第１種中高層住居専用地域,60.0,200.0,2019年第1四半期,NaN,NaN,7.146128
779403,47023286,中古マンション等,NaN,47208,沖縄県,浦添市,港川,NaN,NaN,３ＬＤＫ,...,NaN,NaN,NaN,商業地域,80.0,400.0,2012年第3四半期,未改装,NaN,7.397940

In [140]:
#連続量を抜き出す
continuous_columns = all_data.select_dtypes(exclude=['object']).columns.tolist()
print(continuous_columns)

# 連続量のデータフレーム
all_data_continuous = pd.DataFrame(all_data[continuous_columns])
all_data_continuous.head()

['ID', '地域', '市区町村コード', '土地の形状', '間口', '延床面積（㎡）', '前面道路：方位', '前面道路：種類', '前面道路：幅員（ｍ）', '建ぺい率（％）', '容積率（％）', '取引価格（総額）_log']

,ID,地域,市区町村コード,土地の形状,間口,延床面積（㎡）,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,建ぺい率（％）,容積率（％）,取引価格（総額）_log
0,1044202,NaN,1105,NaN,NaN,NaN,NaN,NaN,NaN,60.0,200.0,7.204120
1,1056952,NaN,1107,NaN,NaN,NaN,NaN,NaN,NaN,80.0,400.0,7.431364
2,1048219,NaN,1105,NaN,NaN,NaN,NaN,NaN,NaN,40.0,80.0,7.361728
3,1017583,NaN,1102,NaN,NaN,NaN,NaN,NaN,NaN,80.0,200.0,6.939519
4,1016082,NaN,1102,NaN,NaN,NaN,NaN,NaN,NaN,60.0,200.0,7.301030

In [141]:
# 標準化したいカラムを指定
columns_to_standardize = ['市区町村コード', '建ぺい率（％）', '容積率（％）']

# 標準化
scaler = StandardScaler()
all_data[columns_to_standardize] = scaler.fit_transform(all_data[columns_to_standardize])

In [142]:
# カテゴリ変数を抜き出す
categorical_columns = all_data.select_dtypes(include=['object']).columns.tolist()
print(categorical_columns)

# カテゴリ変数のデータフレーム
all_data_categorical = all_data[categorical_columns]
all_data_categorical.head()

['種類', '都道府県名', '市区町村名', '地区名', '最寄駅：名称', '最寄駅：距離（分）', '間取り', '面積（㎡）', '建築年', '建物の構造', '用途', '今後の利用目的', '都市計画', '取引時点', '改装', '取引の事情等']

,種類,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,用途,今後の利用目的,都市計画,取引時点,改装,取引の事情等
0,中古マンション等,北海道,札幌市豊平区,豊平６条,学園前(札幌),6,４ＬＤＫ,90,平成9年,ＳＲＣ,住宅,NaN,第１種住居地域,2010年第2四半期,改装済,NaN
1,中古マンション等,北海道,札幌市西区,琴似１条,琴似(札幌市営),6,３ＬＤＫ,95,平成16年,ＳＲＣ,住宅,NaN,商業地域,2012年第4四半期,未改装,NaN
2,中古マンション等,北海道,札幌市豊平区,平岸１条,南平岸,11,２ＤＫ,60,平成20年,NaN,住宅,住宅,第１種低層住居専用地域,2018年第4四半期,未改装,NaN
3,中古マンション等,北海道,札幌市北区,篠路３条,篠路,4,３ＬＤＫ,65,平成7年,ＲＣ,住宅,NaN,近隣商業地域,2009年第1四半期,改装済,NaN
4,中古マンション等,北海道,札幌市北区,北３８条西,麻生,2,４ＬＤＫ,90,平成8年,ＲＣ,住宅,NaN,第２種中高層住居専用地域,2013年第1四半期,未改装,NaN

In [143]:
# ラベルエンコーディングを適用するカラムのリスト
columns_to_encode = ['種類', '都道府県名', '市区町村名', '地区名', '最寄駅：名称', '最寄駅：距離（分）', '間取り', '建築年', '建物の構造', '用途', '都市計画', '取引時点', '改装']

# LabelEncoderのインスタンスを作成
labelencoder = LabelEncoder()

# 指定された各カラムに対してラベルエンコーディングを適用
for column in columns_to_encode:
    all_data[column] = labelencoder.fit_transform(all_data[column])

In [144]:
all_data.head()

,ID,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,...,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
0,1044202,0,NaN,-1.817218,4,354,10918,1334,30,50,...,NaN,NaN,NaN,10,-0.740865,-0.694830,19,0,NaN,7.204120
1,1056952,0,NaN,-1.817010,4,353,8601,2707,30,39,...,NaN,NaN,NaN,0,1.178610,0.651735,29,1,NaN,7.431364
2,1048219,0,NaN,-1.817218,4,354,5511,875,3,19,...,NaN,NaN,NaN,9,-2.660339,-1.502769,53,1,NaN,7.361728
3,1017583,0,NaN,-1.817531,4,346,9466,2997,28,39,...,NaN,NaN,NaN,14,1.178610,-0.694830,14,0,NaN,6.939519
4,1016082,0,NaN,-1.817531,4,346,2390,3861,14,50,...,NaN,NaN,NaN,11,-0.740865,-0.694830,30,1,NaN,7.301030

In [145]:
all_data.tail()

,ID,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,...,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
779399,47005125,0,NaN,2.989260,28,570,7202,2815,31,11,...,NaN,NaN,NaN,0,1.178610,0.651735,53,0,NaN,7.041393
779400,47024005,0,NaN,2.990302,28,410,7785,3888,34,39,...,NaN,NaN,NaN,14,1.178610,-0.021547,40,1,NaN,7.204120
779401,47004170,0,NaN,2.989260,28,570,3554,1143,4,27,...,NaN,NaN,NaN,10,-0.740865,-0.694830,65,0,NaN,7.322219
779402,47004421,0,NaN,2.989260,28,570,11457,1375,21,39,...,NaN,NaN,NaN,8,-0.740865,-0.694830,54,2,NaN,7.146128
779403,47023286,0,NaN,2.989990,28,431,8340,3888,34,39,...,NaN,NaN,NaN,0,1.178610,0.651735,28,1,NaN,7.397940

In [146]:
# '取引価格（総額）_log'がNaNでないデータを抽出
train_data = all_data[all_data['取引価格（総額）_log'].notna()]

# '取引価格（総額）_log'がNaNであるデータを抽出
test_data = all_data[all_data['取引価格（総額）_log'].isna()]

In [147]:
train_data.head()

,ID,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,...,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
0,1044202,0,NaN,-1.817218,4,354,10918,1334,30,50,...,NaN,NaN,NaN,10,-0.740865,-0.694830,19,0,NaN,7.204120
1,1056952,0,NaN,-1.817010,4,353,8601,2707,30,39,...,NaN,NaN,NaN,0,1.178610,0.651735,29,1,NaN,7.431364
2,1048219,0,NaN,-1.817218,4,354,5511,875,3,19,...,NaN,NaN,NaN,9,-2.660339,-1.502769,53,1,NaN,7.361728
3,1017583,0,NaN,-1.817531,4,346,9466,2997,28,39,...,NaN,NaN,NaN,14,1.178610,-0.694830,14,0,NaN,6.939519
4,1016082,0,NaN,-1.817531,4,346,2390,3861,14,50,...,NaN,NaN,NaN,11,-0.740865,-0.694830,30,1,NaN,7.301030

In [148]:
test_data.head()

Empty DataFrame
Columns: [ID, 種類, 地域, 市区町村コード, 都道府県名, 市区町村名, 地区名, 最寄駅：名称, 最寄駅：距離（分）, 間取り, 面積（㎡）, 土地の形状, 間口, 延床面積（㎡）, 建築年, 建物の構造, 用途, 今後の利用目的, 前面道路：方位, 前面道路：種類, 前面道路：幅員（ｍ）, 都市計画, 建ぺい率（％）, 容積率（％）, 取引時点, 改装, 取引の事情等, 取引価格（総額）_log]
Index: []

[0 rows x 28 columns]

In [149]:
all_data.to_csv('../data_processed/all_data.csv', index=False)